@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
  color: #cbc9cf;
  background-color: #46424d;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 9% auto;
  grid-template-areas:
    "h h h"
    "l l r";
}

h2 {
  margin-left: 5%;
}
